body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}

.starters{
	font-size: 20px;
	color: white;
	font-family: monospace;
	margin-left: 700px;
	margin-top: 60px;
	padding-top: 15px

}

.drinks{
	font-size: 20px;
	color: white;
	font-family: monospace;
	margin-left: 700px;
	margin-top: 60px;
	padding-top: 15px

}
a{
	color: white
}

input[type=number]{
    width: 30px;
}
#save{
	margin-left: 700px;
}

